.loginForm {
    display: flex;
    align-items: center;
    justify-content: center;
}

.registrationForm {
    display: flex;
    align-items: center;
    justify-content: center;
}
.formgrid {
    display: flex;
    flex-direction: column;
}