.loginForm {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0077b6;
    border-radius: 6px;
    color: white;
}

.registrationForm {
    display: flex;
    align-items: center;
    justify-content: center;
}
.formgrid {
    display: flex;
    flex-direction: column;
}

.loginFields {
    border:none;
}